<div *ngIf="!seasons" class="message">Loading episodes...</div>
<div *ngIf="seasons" class="seasons">
  <div *ngFor="let season of seasons; trackBy: trackBySeasonId" class="season">
    <h2>Season {{season.id}}</h2>
    <table class="episodes-table">
      <tbody>
        <tr *ngFor="let episode of season.episodes; trackBy: trackByEpisodeId" routerLink="/shows/{{showId}}/episodes/{{episode.id}}" class="episode-row">
          <td class="episode-image">
            <img src="{{episode.image.medium}}" alt="{{season.name}}" />
          </td>
          <td class="episode-number">{{episode.number}}</td>
          <td class="episode-name">{{episode.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
